@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .container {
    padding: 0;
  }

  .header {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
  }

  .header .col-9 {
    padding: 0;
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .logo img {
    width: 100%;
  }

  .logo-form {
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo-form img {
    width: 60%;
  }

  .logo-form span {
    right: 0;
  }

  .navigation {
    display: block;
    position: fixed;
    width: 80%;
    right: 0;
    height: 100vh;
    top: 0;
    overflow: hidden;
    transform: translateX(500px);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }

  .navigation.show {
    transform: translateX(0px);
  }

  .m-logo {
    position: absolute;
    width: 50%;
    margin: 30px 0 0 20px;
  }

  .m-logo img {
    width: 100%;
  }

  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: var(--blue);
    border-top-left-radius: var(--b-radius-xxl);
    border-bottom-left-radius: var(--b-radius-xxl);
  }

  .nav > li {
    padding: 15px;
  }

  .sub-menu {
    display: block;
  }

  .sub-menu > li > a {
    color: var(--light);
    font-weight: 300;
    font-size: 16px;
  }

  .sub-menu > li {
    padding: 10px;
  }

  .nav > li > a {
    font-size: 2rem;
    color: var(--blue-dark);
    font-weight: 700;
    position: relative;
  }

  .nav li.active > a {
    color: var(--light);
  }

  .nav li.active > a::before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--red);
    border-radius: 50%;
    right: -25px;
    top: 14px;
  }

  .m-btn {
    display: inline-block;
    position: absolute;
    right: 13px;
    cursor: pointer;
    z-index: 2;
  }

  .m-btn i {
    font-size: 1.8rem;
    color: var(--light);
    transition: 0.5s all ease-in-out;
  }

  .m-btn i.light {
    color: var(--light);
  }

  .m-btn i.rotate {
    transform: rotate(180deg);
    color: var(--light);
  }

  .m-logo {
    display: block;
  }

  .login-wrapper {
    padding: 20px 20px 0px 20px;
  }

  .login {
    height: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .greeting-login {
    margin-top: 4rem;
  }
}
